<h1>検索一覧</h1>

<table>
  <tr>
    <th>タイトル</th>
    <th>終了期限</th>
    <th>ステータス</th>
  </tr>

  <div class="search_form">
    <%= form_with url: search_tasks_path, local: true, method: :get do |f| %>
      <%= f.text_field :word %>
      <%= f.select :status, options_for_select([["未選択","unselected"], ["未着手"], ["着手中"],  ["完了"]]) %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>

<% @tasks.each do |task| %>
  <tr>
    <td class="task_name"><%= task.name %></td>
    <td class="task_on"><%= task.finish_on %></td>
    <td class="task_on"><%= task.status %></td>
    <td><%= link_to '詳細を確認する', task_path(task.id) %></td>
    <td><%= link_to "ブログを編集する", edit_task_path(task.id) %></td>
    <td><%= link_to 'ブログを削除する', task_path(task.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>

  </tr>
<% end %>
</table>

<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>
<%= link_to '新しくブログを投稿する', new_task_path %>