<!DOCTYPE html>
<html>
  <head>
    <title>Mannyou</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header clearfix">
      <% if logged_in? %>
      <ul class="top_menu clearfix">
        <li><%= link_to "マイページ", user_path(current_user.id) ,class:'top_list' %></li>
        <li><%= link_to "ログアウト", session_path(current_user.id), class:'top_list', method: :delete %></li>
        <li><%= link_to '新しく投稿', new_task_path ,class:'top_list' %></li>
        <li><%= link_to "タスク一覧", tasks_path ,class:'top_list'%></li>
      </ul>
    <% else %>
      <ul class="top_menu clearfix">
        <li><%= link_to "新規登録", new_user_path ,class:'top_list' %></li>
        <li><%= link_to "ログイン", new_session_path ,class:'top_list' %></li>
      </ul>
    <% end %>
  </header>
      <div class="container">
      <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
      <%= yield %>
    </div>
  </body>
  <footer class="footer">
    <p>Make Sora Tanaka from Dive InTo Code</p>
  </footer>
</html>
